*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "sukhumvit_setbold";
  src: url("../font/sukhumvitset-bold-webfont.woff2") format("woff2"),
    url("../font/sukhumvitset-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sukhumvit_setlight";
  src: url("../font/sukhumvitset-light-webfont.woff2") format("woff2"),
    url("../font/sukhumvitset-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sukhumvit_setmedium";
  src: url("../font/sukhumvitset-medium-webfont.woff2") format("woff2"),
    url("../font/sukhumvitset-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sukhumvit_setsemi_bold";
  src: url("../font/sukhumvitset-semibold-webfont.woff2") format("woff2"),
    url("../font/sukhumvitset-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sukhumvit_settext";
  src: url("../font/sukhumvitset-text-webfont.woff2") format("woff2"),
    url("../font/sukhumvitset-text-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sukhumvit_setthin";
  src: url("../font/sukhumvitset-thin-webfont.woff2") format("woff2"),
    url("../font/sukhumvitset-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "sukhumvit_settext";
  background-color: #f7f7f7 !important;
}
.text-primary {
  color: #2d3c68 !important;
}
.nav-fix {
  border-bottom: 1px solid #e6e6e6;
  background-color: #fff !important;
  height: 70px;
}
.img-logo {
  width: 79.68px;
  height: 45.47px;
}
.btn-primary {
  font-family: "sukhumvit_setbold";
  width: 170px;
  height: 45px;
  padding: 10px 20px 10px 24px;
  border-radius: 12px !important;
  border: none !important;
  background: linear-gradient(180deg, #1459b2 0%, #0c4da1 100%);
  font-size: 16px;
  font-weight: 700;
}
.btn-gold {
  font-family: "sukhumvit_setbold";
  width: 170px;
  height: 45px;
  padding: 10px 20px 10px 24px;
  border-radius: 12px !important;
  border: none !important;
  color: #fff !important;
  font-size: 16px;
  font-weight: 700;
  background: linear-gradient(180deg, #ceb260 0%, #897846 100%);
}
.txt-nav-p {
  font-family: "sukhumvit_setbold";
  font-size: 14px;
  font-weight: 700;
  color: #646464;
}
.txt-nav-small {
  font-size: 12px;
  font-weight: 500;
  color: #646464;
}
.input-search {
  width: 100%;
  height: 44px;
  padding: 10px 35px !important;
  border-radius: 14px !important;
  border: 1px solid #e8e8e8 !important;
  background: rgba(255, 255, 255, 1);
}
.input-select {
  width: 100%;
  height: 44px;
  border-radius: 14px !important;
  border: 1px solid #e8e8e8 !important;
}
.search-icon {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  pointer-events: none;
}
.box-card {
  width: 100%;
  height: 129px;
  padding: 24px;
  gap: 16px;
  border-radius: 16px !important;
  background: rgba(255, 255, 255, 1);
  margin-bottom: 15px;
}
p {
  font-family: "sukhumvit_settext";
  font-size: 14px;
  font-weight: 400;
  color: #808080;
}
.txt-section {
  font-family: "sukhumvit_setsemi_bold";
  font-size: 18px;
  font-weight: 700;
  color: #2d3c68;
}
.fixed-text-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.fixed-text-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.active > .page-link,
.page-link.active {
  border: 1px solid #2d3c68;
  background-color: #2d3c68;
  color: #fff;
  border-radius: 8px;
}
.page-link {
  width: 32px;
  height: 32px;
  padding: 5px 4px 5px 4px;
  border-radius: 8px;
  border: 1px solid #e8e8e8;
  color: #808080;
  text-align: center;
}
.page-item:first-child .page-link {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background: var(--Color-PDPC-Gray-Text-Body, #808080);
  opacity: 0.5;
  color: #c4cdd5;
}
.page-item:last-child .page-link {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.box-filter {
  width: 100%;
  height: 381px;
  padding: 24px;
  border-radius: 16px !important;
  opacity: 0px;
  background: rgba(255, 255, 255, 1);
}
.box-filter h5 {
  font-family: "sukhumvit_setsemi_bold";
  font-size: 18px;
  font-weight: 700;
  line-height: 28.57px;
  color: #333333;
}
.box-filter label {
  font-family: "sukhumvit_settext";
  font-size: 16px;
  font-weight: 500;
}
.box-card,
p {
  font-family: "sukhumvit_setthin";
}
.radio-container > div {
  display: grid;
  justify-items: center;
}
.radio-container span {
  color: #808080;
  font-weight: 500;
}

.radio-container {
  height: 85px;
  border-radius: 12px;
  border: 1px solid #e8e8e8;
  width: 100%;
}
.pd-box {
  padding: 16px 10px;
}
.top-end {
  top: 10px;
  right: 10px;
}

.radio-container img {
  object-fit: cover;
  margin-bottom: 5px;
}
input[type="radio"]:checked + label {
  border: 2px solid #2d3c68;
  background-color: #d8ddee;
}

input[type="radio"]:checked + label span {
  color: #2d3c68;
  font-weight: 700;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1152px;
  }
}

@media (max-width: 991px) {
  .btn-primary {
    width: 100% !important;
    text-align: center !important;
    height: 44px !important;
    border-radius: 14px !important;
    padding: 10px !important;
  }
  .search-icon {
    left: 21px;
  }
  .width-min {
    width: 50px;
  }
}
