<header class="absolute w-full lg:top-12 top-4">
    <nav class="navbar nav-fix py-2" >
      <div class="container">
        <div class="d-flex gap-3 align-items-center">
          <a class="navbar-brand">
            <img class="img-logo" src="asset/image/image-logo.png" />
          </a>
          <div class="d-none d-lg-flex gap-3">
          <button class="btn btn-primary" type="submit">ฐานข้อมูลกฎหมาย</button>
          <button class="btn btn-gold " type="submit">ขอคำปรึกษาหารือ</button>
          <div>
            <p class="txt-nav-p mb-0">ระบบบริการทางวิชาการและให้คำปรึกษา</p>
            <small class="txt-nav-small">เกี่ยวกับการคุ้มครองข้อมูลส่วนบุคคล</small>
          </div>
        </div>

        </div>
        <div class="d-flex gap-2 align-items-center">
          <img src="asset/image/icon-1.svg" />
          <img src="asset/image/icon-2.svg" />
          <img src="asset/image/icon-3.svg" />
          <img src="asset/image/icon-4.svg" />
        </div>
      </div>
  </header>