    <!-- banner -->

    <section data-aos="fade-up-right" data-aos-duration="3000">
      <div class="container my-5">
        <div>
          <img
            class="w-100"
            alt="โลกของ AI"
            title="โลกของ AI"
            src="asset/image/img-01.png"
          />
        </div>
      </div>
    </section>
    <section data-aos="fade-up-left" data-aos-duration="3000">
      <div class="container mb-4">
        <div>
          <a href="new.html" title="ทันเหตุการณ์กับข่าวประชาสัมพันธ์">
            <img
              class="w-100"
              alt="ทันเหตุการณ์กับข่าวประชาสัมพันธ์"
              title="ทันเหตุการณ์กับข่าวประชาสัมพันธ์"
              src="asset/image/img-02.png"
            />
          </a>
        </div>
      </div>
    </section>
    <!-- banner end -->