<div class="col-12 mb-4">
    <div class="card-large">
        <a href="/new-detail.html">
        <img
            class="w-100 radius-14 card-large-img"
            src="asset/image/img-03.png"
        />
        </a>
        <div class="box-content mt-4">
        <div class="d-flex justify-content-between mb-3">
            <div class="d-flex">
            <img class="me-2" src="asset/image/icon-calendar.svg" />
            <p class="mb-0 f-w-500">10 กันยายน 2567</p>
            </div>
            <div class="d-flex">
            <img class="me-2" src="asset/image/icon-eye.svg" />
            <p class="mb-0 f-w-500">12.3k ผู้ชม</p>
            </div>
        </div>
        <a href="/new-detail.html">
            <h5>
            PDPC ผนึก วช. และ สกมช. ลงนามบันทึกข้อตกลงความร่วมมือ
            ด้านการวิจัยและพัฒนาเทคโนโลยี
            </h5>
        </a>
        <p>
            สำนักงานคณะกรรมการคุ้มครองข้อมูลส่วนบุคคล (สคส.) หรือ PDPC
            นำโดย ดร.ศิวรักษ์ ศิวโมกษธรรม เลขาธิการคณะกรรมการคุ้ม
            ครองข้อมูลส่วนบุคคล
            ได้ร่วมลงนามบันทึกข้อตกลงความร่วมมือกับ
        </p>
        </div>
    </div>
</div>