   <!-- content -->

   <section data-aos="fade-up" data-aos-duration="3000">
    <div class="container py-5 padding-faq">
      <div class="row">
        <div class="col-12">
          <div class="custom-collapse position-relative mb-4">
            <div
              class="custom-collapse-button d-flex"
              data-bs-toggle="collapse"
              data-bs-target="#customCollapse"
              aria-expanded="false"
              aria-controls="customCollapse"
            >
              <div class="pt-1">
                <!-- Delete icon -->
                <img
                  class="me-3"
                  id="deleteIcon"
                  src="asset/image/icon-delete.svg"
                  style="display: none"
                />
                <!-- Plus icon -->
                <img
                  class="me-3"
                  id="plusIcon"
                  src="asset/image/icon-plus.svg"
                />
              </div>
              <div>
                หน่วยงานของเราจำเป็นต้องดำเนินการตามกฎหมาย PDPA หรือไม่?
              </div>
            </div>
            <div class="collapse" id="customCollapse">
              <div class="custom-collapse-content">
                <p>
                  Lorem ipsum dolor sit amet consectetur. Ut morbi mi vel amet
                  lectus. Adipiscing orci laoreet sed nunc ac a velit pretium
                  eget. Amet eget massa malesuada fringilla fames consequat eu
                  rhoncus et. Eget nec sed sodales diam. Nulla et in nisi
                  pulvinar. Orci urna maecenas senectus risus.
                </p>
              </div>
            </div>
          </div>
          <div class="custom-collapse position-relative mb-4">
            <div
              class="custom-collapse-button d-flex"
              data-bs-toggle="collapse"
              data-bs-target="#customCollapse1"
              aria-expanded="false"
              aria-controls="customCollapse1"
            >
              <div class="pt-1">
                <!-- Delete icon -->
                <img
                  class="me-3"
                  id="deleteIcon"
                  src="asset/image/icon-delete.svg"
                  style="display: none"
                />
                <!-- Plus icon -->
                <img
                  class="me-3"
                  id="plusIcon"
                  src="asset/image/icon-plus.svg"
                />
              </div>
              <div>
                หน่วยงานของเราจำเป็นต้องดำเนินการตามกฎหมาย PDPA หรือไม่?
              </div>
            </div>
            <div class="collapse" id="customCollapse1">
              <div class="custom-collapse-content">
                <p>
                  Lorem ipsum dolor sit amet consectetur. Ut morbi mi vel amet
                  lectus. Adipiscing orci laoreet sed nunc ac a velit pretium
                  eget. Amet eget massa malesuada fringilla fames consequat eu
                  rhoncus et. Eget nec sed sodales diam. Nulla et in nisi
                  pulvinar. Orci urna maecenas senectus risus.
                </p>
              </div>
            </div>
          </div>
          <div class="custom-collapse position-relative mb-4">
            <div
              class="custom-collapse-button d-flex"
              data-bs-toggle="collapse"
              data-bs-target="#customCollapse2"
              aria-expanded="false"
              aria-controls="customCollapse2"
            >
              <div class="pt-1">
                <!-- Delete icon -->
                <img
                  class="me-3"
                  id="deleteIcon"
                  src="asset/image/icon-delete.svg"
                  style="display: none"
                />
                <!-- Plus icon -->
                <img
                  class="me-3"
                  id="plusIcon"
                  src="asset/image/icon-plus.svg"
                />
              </div>
              <div>
                เราควรทำอย่างไรถ้าพบว่าข้อมูลส่วนบุคคลของเราอาจถูกละเมิด?
              </div>
            </div>
            <div class="collapse" id="customCollapse2">
              <div class="custom-collapse-content">
                <p>
                  Lorem ipsum dolor sit amet consectetur. Ut morbi mi vel amet
                  lectus. Adipiscing orci laoreet sed nunc ac a velit pretium
                  eget. Amet eget massa malesuada fringilla fames consequat eu
                  rhoncus et. Eget nec sed sodales diam. Nulla et in nisi
                  pulvinar. Orci urna maecenas senectus risus.
                </p>
              </div>
            </div>
          </div>
          <div class="custom-collapse position-relative mb-4">
            <div
              class="custom-collapse-button d-flex"
              data-bs-toggle="collapse"
              data-bs-target="#customCollapse3"
              aria-expanded="false"
              aria-controls="customCollapse3"
            >
              <div class="pt-1">
                <!-- Delete icon -->
                <img
                  class="me-3"
                  id="deleteIcon"
                  src="asset/image/icon-delete.svg"
                  style="display: none"
                />
                <!-- Plus icon -->
                <img
                  class="me-3"
                  id="plusIcon"
                  src="asset/image/icon-plus.svg"
                />
              </div>
              <div>
                เราควรทำอย่างไรถ้าพบว่าข้อมูลส่วนบุคคลของเราอาจถูกละเมิด?
              </div>
            </div>
            <div class="collapse" id="customCollapse3">
              <div class="custom-collapse-content">
                <p>
                  Lorem ipsum dolor sit amet consectetur. Ut morbi mi vel amet
                  lectus. Adipiscing orci laoreet sed nunc ac a velit pretium
                  eget. Amet eget massa malesuada fringilla fames consequat eu
                  rhoncus et. Eget nec sed sodales diam. Nulla et in nisi
                  pulvinar. Orci urna maecenas senectus risus.
                </p>
              </div>
            </div>
          </div>
          <div class="custom-collapse position-relative mb-4">
            <div
              class="custom-collapse-button d-flex"
              data-bs-toggle="collapse"
              data-bs-target="#customCollapse4"
              aria-expanded="false"
              aria-controls="customCollapse4"
            >
              <div class="pt-1">
                <!-- Delete icon -->
                <img
                  class="me-3"
                  id="deleteIcon"
                  src="asset/image/icon-delete.svg"
                  style="display: none"
                />
                <!-- Plus icon -->
                <img
                  class="me-3"
                  id="plusIcon"
                  src="asset/image/icon-plus.svg"
                />
              </div>
              <div>
                เราควรทำอย่างไรถ้าพบว่าข้อมูลส่วนบุคคลของเราอาจถูกละเมิด?
              </div>
            </div>
            <div class="collapse" id="customCollapse4">
              <div class="custom-collapse-content">
                <p>
                  Lorem ipsum dolor sit amet consectetur. Ut morbi mi vel amet
                  lectus. Adipiscing orci laoreet sed nunc ac a velit pretium
                  eget. Amet eget massa malesuada fringilla fames consequat eu
                  rhoncus et. Eget nec sed sodales diam. Nulla et in nisi
                  pulvinar. Orci urna maecenas senectus risus.
                </p>
              </div>
            </div>
          </div>
          <div class="custom-collapse position-relative mb-4">
            <div
              class="custom-collapse-button d-flex"
              data-bs-toggle="collapse"
              data-bs-target="#customCollapse5"
              aria-expanded="false"
              aria-controls="customCollapse5"
            >
              <div class="pt-1">
                <!-- Delete icon -->
                <img
                  class="me-3"
                  id="deleteIcon"
                  src="asset/image/icon-delete.svg"
                  style="display: none"
                />
                <!-- Plus icon -->
                <img
                  class="me-3"
                  id="plusIcon"
                  src="asset/image/icon-plus.svg"
                />
              </div>
              <div>
                เราควรทำอย่างไรถ้าพบว่าข้อมูลส่วนบุคคลของเราอาจถูกละเมิด?
              </div>
            </div>
            <div class="collapse" id="customCollapse5">
              <div class="custom-collapse-content">
                <p>
                  Lorem ipsum dolor sit amet consectetur. Ut morbi mi vel amet
                  lectus. Adipiscing orci laoreet sed nunc ac a velit pretium
                  eget. Amet eget massa malesuada fringilla fames consequat eu
                  rhoncus et. Eget nec sed sodales diam. Nulla et in nisi
                  pulvinar. Orci urna maecenas senectus risus.
                </p>
              </div>
            </div>
          </div>
          <div class="custom-collapse position-relative mb-4">
            <div
              class="custom-collapse-button d-flex"
              data-bs-toggle="collapse"
              data-bs-target="#customCollapse6"
              aria-expanded="false"
              aria-controls="customCollapse6"
            >
              <div class="pt-1">
                <!-- Delete icon -->
                <img
                  class="me-3"
                  id="deleteIcon"
                  src="asset/image/icon-delete.svg"
                  style="display: none"
                />
                <!-- Plus icon -->
                <img
                  class="me-3"
                  id="plusIcon"
                  src="asset/image/icon-plus.svg"
                />
              </div>
              <div>
                เราควรทำอย่างไรถ้าพบว่าข้อมูลส่วนบุคคลของเราอาจถูกละเมิด?
              </div>
            </div>
            <div class="collapse" id="customCollapse6">
              <div class="custom-collapse-content">
                <p>
                  Lorem ipsum dolor sit amet consectetur. Ut morbi mi vel amet
                  lectus. Adipiscing orci laoreet sed nunc ac a velit pretium
                  eget. Amet eget massa malesuada fringilla fames consequat eu
                  rhoncus et. Eget nec sed sodales diam. Nulla et in nisi
                  pulvinar. Orci urna maecenas senectus risus.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- content end-->