<div class="col-lg-8 col-12 mb-3">
    <div class="new-detail">
        <div class="d-flex justify-content-between mb-3">
        <div class="d-flex gap-2 w-50-set w-lg-full align-items-center">
            <img class="me-2" src="asset/image/icon-calendar.svg" />
            <p class="mb-0 f-w-500 me-3">10 กันยายน 2567</p>
            <img class="me-2" src="asset/image/icon-eye.svg" />
            <p class="mb-0 f-w-500">12.3k ผู้ชม</p>
        </div>
        <div class="d-flex gap-2">
            <img class="width-min-icon" src="asset/image/icon-line.svg" />
            <img class="width-min-icon" src="asset/image/icon-x.svg" />
            <img
            class="width-min-icon"
            src="asset/image/icon-facebook.svg"
            />
        </div>
        </div>
        <h4>
        PDPC ผนึก วช. และ สกมช. ลงนามบันทึกข้อตกลงความร่วมมือ
        ด้านการวิจัยและพัฒนาเทคโนโลยี
        </h4>
        <div class="mt-3">
        <h5>เมื่อวันที่ 27 สิงหาคม 2567:</h5>
        <p>
            เมื่อวันที่ 27 สิงหาคม 2567:
            สำนักงานคณะกรรมการคุ้มครองข้อมูลส่วนบุคคล (สคส.) หรือ PDPC
            นำโดย ดร.ศิวรักษ์ ศิวโมกษธรรม
            เลขาธิการคณะกรรมการคุ้มครองข้อมูลส่วนบุคคล
            ได้ร่วมลงนามบันทึกข้อตกลงความร่วมมือกับ:
        </p>

        <ul class="my-4">
            <li>
            สำนักงานการวิจัยแห่งชาติ (วช.) นำโดย ดร.วิภารัตน์ ดีอ่อง
            ผู้อำนวยการ
            </li>
            <li>
            สำนักงานคณะกรรมการรักษาความมั่นคงปลอดภัยไซเบอร์แห่งชาติ
            (สกมช.) นำโดย พลอากาศตรีอมร ชมเชย เลขาธิการ
            </li>
        </ul>
        <h5 class="mt-4">วัตถุประสงค์ของความร่วมมือ:</h5>
        <p>
            เพื่อการวิจัยและพัฒนาเทคโนโลยีในการป้องกันภัยคุกคามทางไซเบอร์
            และการคุ้มครองข้อมูลส่วนบุคคลของคนไทย โดยมีเป้าหมายสำคัญคือ:
        </p>

        <ul class="my-4">
            <li>สร้างความตระหนักรู้เกี่ยวกับความปลอดภัยทางไซเบอร์</li>
            <li>ส่งเสริมการศึกษา วิจัย และพัฒนาเทคโนโลยี-นวัตกรรม</li>
            <li>
            สนับสนุนการพัฒนาองค์ความรู้ด้านความปลอดภัยทางไซเบอร์ของประเทศไทย
            </li>
        </ul>

        <h5 class="mt-4">ประโยชน์ที่ได้รับความร่วมมือนี้จะช่วยให้:</h5>
        <ul class="my-3">
            <li>ประเทศไทยสามารถลดการพึ่งพาเทคโนโลยีจากต่างประเทศ</li>
            <li>มีระบบตรวจจับภัยคุกคามที่รวดเร็วและทันสมัย</li>
            <li>
            พัฒนาแนวทางป้องกันและฟื้นฟูที่เหมาะสมสำหรับภัยคุกคามทางไซเบอร์
            </li>
        </ul>
        <p>
            นอกจากนี้ ความร่วมมือระหว่าง สคส., วช., และ สกมช.
            ยังช่วยเสริมสร้างความตระหนักรู้ในด้านการรักษาความปลอดภัย
            ทางไซเบอร์และการคุ้มครองข้อมูลส่วนบุคคลให้ประชาชนอีกด้วย
        </p>
        <h5>สถานที่จัดกิจกรรม:</h5>
        <p>
            งานนี้จัดขึ้นที่ โรงแรมเซนทาราแกรนด์
            และบางกอกคอนเวนชันเซ็นเตอร์ เซ็นทรัลเวิลด์.
        </p>
        </div>
    </div>
</div>