<!-- mobile -->
<div class="detail-seemore d-block d-lg-none">
    <div class="d-flex justify-content-between">
        <h4>ประชาสัมพันธ์ที่เกี่ยวข้อง</h4>
        <p class="text-primary">
        ทั้งหมด <img class="ms-2" src="asset/image/icon-right.svg" />
        </p>
    </div>
    <div class="row scroll-mobile">
        <div class="col-6 mb-3 px-1">
            <div class="card-small">
                <a href="/new-detail.html">
                <img
                    class="w-100 radius-14 card-img"
                    src="asset/image/img-05.png"
                />
                </a>
                <div class="box-content mt-2">
                <div class="d-flex justify-content-between mb-1">
                    <div class="d-flex">
                    <img
                        class="me-2"
                        src="asset/image/icon-calendar.svg"
                    />
                    <p class="mb-0 text-small">01/01/2567</p>
                    </div>
                    <div class="d-flex">
                    <img class="me-2" src="asset/image/icon-eye.svg" />
                    <p class="mb-0 text-small">65k ผู้ชม</p>
                    </div>
                </div>
                <a href="/new-detail.html">
                    <h5 class="fixed-text-1">
                    เข้าร่วมกิจกรรม​โครงการอบรมสัมมนาเชิงปฏิบัติการหัวข้อ
                    “Digital Korat
                    </h5>
                </a>
                <p class="fixed-text-1">
                    กิจกรรมโครงการอบรมสัมมนาเชิงปฏิบัติการหัวข้อ “Digital
                    Korat: The Future Starts now
                </p>
                </div>
                <div
                class="d-flex justify-content-center text-primary cursor-pointer"
                >
                รายละเอียดเพิ่มเติม
                <img class="ms-2" src="asset/image/icon-next.svg" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- mobile end -->

<!-- desktop -->
<div class="detail-seemore d-none d-lg-block">
    <div class="d-flex justify-content-between">
        <h4>ประชาสัมพันธ์ที่เกี่ยวข้อง</h4>
        <p class="text-primary">
        ทั้งหมด <img class="ms-2" src="asset/image/icon-right.svg" />
        </p>
    </div>
    <div class="row mb-4">
        <div class="col-5">
            <a href="/new-detail.html">
                <div class="position-relative">
                <div class="gradient"></div>
                <img
                    class="w-100 radius-14 card-img"
                    src="asset/image/img-04.png"
                />
                </div>
            </a>
        </div>
        <div class="col-7">
            <a href="/new-detail.html">
                <h5 class="fixed-text-1">
                เข้าร่วมกิจกรรม​โครงการอบรมสัมมนาเชิงปฏิบัติการหัวข้อ
                “Digital Korat
                </h5>
            </a>
            <p class="fixed-text-2">
                กิจกรรมโครงการอบรมสัมมนาเชิงปฏิบัติการหัวข้อ “Digital Korat:
                The Future Starts now
            </p>
            <div class="d-flex">
                <img class="me-2" src="asset/image/icon-eye.svg" />
                <p class="mb-0 text-small">65k ผู้ชม</p>
            </div>
        </div>
    </div>
</div>
<!-- desktop end -->